{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
  <script>
    (function(d, s, id) 
            {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2';
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));
  </script>
  <div class="container">
      <div class="row">
          <div class="col-md-8">
              {% block content %}

              {% endblock %}
          </div>
          <div class="col-md-4">
            {% if user.is_authenticated %}
            <p>
                Hi {{ user.username }},
            </p>
              <p><a href="{% url 'password_change' %}">Password Change</a></p>
              <p> <a href="{% url 'logout' %}">Logout</a></p>
            {% else %}
              <p>
                <a href="{% url 'accounts:sign_up' %}">Sign Up</a>
                <a href="{% url 'login' %}">Log In</a>
              </p>
              {% endif %}
              <h3 class="page-header">Blog Application</h3>
              <div style="width:10px; float:left; height:100px;margin:10px">
                <a href="{% url "blog:post_feed" %}" target="_blank">
                <img style="height:20px;width:20px;margin-left:10px;"src="{% static '/images/Feed-icon.svg' %}" alt="feed"></img></a>
              </div>
              <div style="width:10px; float:left; height:100px;margin:10px">
                {% include "subscribe.html" %}
              </div>
      </div>
      <div id="fb-root"></div>
          
</div>
</body>
</html>